@tailwind base;
@tailwind components;
@tailwind utilities;

/* change CompareList.tsx button container width and height */

img {
  max-width: 100%;
  max-height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #020817;
}
